html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: black;
    text-align: center;
}
div.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
div.inner {
    display: table-cell;
    vertical-align: middle;
}
canvas#game-canvas {
    cursor: none;
    width: 768px;
    height: 576px;
    margin: auto;
    background: black;
}